*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    background: black;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 50px;
}

header h1{
    font-size: 45px;
    color: snow;
}

main {
    background: rgb(61, 121, 4);
    border: black 1px solid;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

main label {
    font-size: 20px;
    font-style: italic;
}

main textarea {
    margin-top: 15px;
    width: 80%;
    max-width: 600px;
    height: 200px;
}

main input:not([type="submit"]){
    margin: 15px auto;
    height: 40px;
    width: 80%;
    max-width: 250px;
}

main input[type="submit"]{
    max-width: 150px;
    width: 80%;
    height: 35px;
    font-size: 20px;
    margin-top: 20px;
    border: 1px black solid;
    border-radius: 15px;
}

main input[type="submit"]:hover{
    cursor: pointer;
    background-color: black;
    color: snow;
}

footer h3{
    color: snow;
    font-style: italic;
}

footer li {
    margin-top: 25px;
    padding: 10px;
}

footer a{
    color: black;
    text-decoration: none;
    background: snow;
    border: black 1px solid;
    border-radius: 8px;
    padding: 10px;
}
footer a:hover{
    background: black;
    color: snow;
}