*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    background: black;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 50px;
}

header h1{
    font-size: 45px;
    color: snow;
}

main {
    background: rgb(61, 121, 4);
    border: black 1px solid;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

main .foto{
    border: snow 1px solid;
    border-radius: 10px;
}
 main .legenda-foto{
     font-size: 25px;
     margin: 10px auto;
}

main figure{
    border-bottom: black 1px solid;
}

main p , main h3{
    margin-top: 15px;
}

main ul, main ol {
    list-style-type: none;
    text-align: center;
}

main li {
    margin-top: 10px;
}

footer h3{
    color: snow;
    font-style: italic;
}

footer li {
    margin-top: 25px;
    padding: 10px;
}

footer a{
    color: black;
    text-decoration: none;
    background: snow;
    border: black 1px solid;
    border-radius: 8px;
    padding: 10px;
}
footer a:hover{
    background: black;
    color: snow;
}