*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    background: black;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 50px;
}

header h1{
    font-size: 45px;
    color: snow;
}

 header h3{
    color: snow;
    margin-top: 20px;
}

nav {
    background: rgb(61, 121, 4);
    border: black 1px solid;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

nav h3{
    color: black;
}

.lista-links{
    list-style-type: none;
}

.link-pessoal{
    margin: 30px auto;
}

.link-pessoal a{
    color: black;
    text-decoration: none;
    background: snow;
    border: black 1px solid;
    border-radius: 8px;
    padding: 10px;
}
.link-pessoal a:hover{
    background: black;
    color: snow;
}

footer h2{
    color: snow;
    font-style: italic;
}

footer .mapouter{
    margin: 20px auto;
}